@import '~antd/dist/antd.css';

.sidebar {
  background: #F3F5F6;
  padding-top: 16px;

  .logo {
      padding-left: 8px;
      margin-bottom: 30px;
      display: block;
  }

  .user {
      overflow: hidden;
      clear: both;
      padding-left: 16px;
    .icon {
        margin-right: 11px;
        float: left;
    }

    .email {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #272F5A; 
    }
  }

  .company-name {
    padding-left: 28px;
    }

    .logout {
        margin-top: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #272F5A;
        padding-left: 28px;
    }


  .sidebar-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 16px;
    margin-top: 30px;

    .menu-item {
        clear: both;
        margin-bottom: 25px;
        overflow: hidden;
        .item__icon {
            padding-right: 8px;
            float: left;
        }
        .item__link {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            color: #272F5A;

            .item__name {
                float: left;
            }
        }
    }
  }
}

.content {
  background: #ffffff;
}